.searchBox {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
.searchBoxInputName {
  display: flex;
  margin-bottom: 4px;
}
.searchBoxInput {
  /* width: 100%; */
  height: 25px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px 10px;
  outline: transparent;
  transition: border-color 400ms;
  margin-bottom: 15px;

  &:focus {
    border-color: red;
  }

  &::placeholder {
    /* padding: 10px; */
  }
}
