:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(197, 196, 195, 0.384);
}
